apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-eks-nodegroup-dev
  namespace: argocd             # must match the namespace ArgoCD was installed into
spec:
  project: default

  source:
    # For a local (non-Git) flow we use a path relative to the repo root.
    # In production you would point repoURL to your actual Git repo.
    repoURL: git@github.com:mona861/local-argocd-blue-green-deployment.git
    targetRevision: main
    path: k8s-manifests/overlays/dev   # the overlay directory Argo CD should watch

    # Tell Argo CD the directory uses Kustomize
    kustomize: {}

  destination:
    server: https://kubernetes.default.svc   # the cluster ArgoCD is running in
    namespace: dev                       # target namespace for the workload

  syncPolicy:
    automated:
      prune: true               # delete resources that are removed from the overlay
      selfHeal: true            # revert any manual changes made in the cluster
    #syncOptions:
    #  - CreateNamespace=true    # auto-create app-dev namespace if it doesn't exist