apiVersion: v1
kind: Service
metadata:
  name: py-app-svc
  namespace: default
  labels:
    app: py-app
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 5000
  selector:
    app: py-app