apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - name: env-vars
    behavior: merge
    options:
      disableNameSuffixHash: true

replacements:
  # Replace Ingress/Service namespace
  - source:
      kind: ConfigMap
      name: env-vars
      fieldPath: data.ENV
    targets:
      - select:
          kind: Deployment
          name: py-app-deployment
        fieldPaths:
          - metadata.namespace
      - select:
          kind: Deployment
          name: py-app-deployment
        fieldPaths:
          - spec.template.spec.serviceAccountName
        options:
          delimiter: "-"
      - select:
          kind: Service
          name: py-app-svc
        fieldPaths:
          - metadata.namespace
      - select:
          kind: ServiceAccount
          name: demo-eks-sa
        fieldPaths:
          - metadata.namespace
      - select:
          kind: Ingress
        fieldPaths:
          - metadata.namespace
      - select:
          kind: Ingress
        fieldPaths:
          - metadata.annotations.[alb.ingress.kubernetes.io/load-balancer-name]
        options:
          delimiter: "-"
          index: 0  
      - select:
          kind: Service
          name: py-app-svc
        fieldPaths:
          - metadata.namespace